<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <img
          src="img/issat.png"
          alt=""
          style="width: 120px; height: 60px; margin-left: 5%; margin-top: 10px"
        />
        <ul>
          <li>Connexion</li>
          <li>Inscription</li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <section class="section child">
        <div class="section-suivit_qualite">
          <img
            src="img/issat.png"
            alt=""
            style="width: 550px; height: 280px; margin-top: 10px"
          />
          <h1
            style="
              text-align: center;
              font-size: 50px;
              margin: 40px;
              text-shadow: rgba(109, 106, 106, 0.63);
              font-family: Arial, Helvetica, sans-serif;
            "
          >
            Suivi notre qualité d'enseignement
          </h1>
        </div>
      </section>

      <section class="section-departement child">
        <div class="departimg">
          <h1 style="margin: 50px 7px; font-size: 45px">
            Découvrir nos departements
          </h1>
          <div class="departimg1">
            <img src="img/1.jpg" alt="" />
            <img src="img/2.jpg" alt="" />
            <img src="img/4.jpg" alt="" />
            <img src="img/3.jpg" alt="" />
          </div>
        </div>

        <div class="depart-btn" style="">
          <div class="buttons">
            <button class="btn">Description</button>
            <button class="btn">Filiére et spécialité</button>
          </div>

          <div style="margin: 20px 5px; text-align: center; margin-top: 50px">
            <h3>
              Pour avoir la posssibilité de commenter et noter la formation
              <br />
              de notre institut il faut s'inscrire
            </h3>
          </div>
        </div>
      </section>

      <section class="child" style="background-color: #ffffff">
        <ul class="navbar" style="display: flex">
          <li>CONTACTEZ-NOUS</li>
          <li>PAGE FACEBOOK</li>
          <li>NOTRE TELEPHONE</li>
          <li>OU-EST-NOUS</li>
        </ul>
      </section>
    </div>
  </body>
</html>
l
