<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <img
          src="img/issat.png"
          alt=""
          style="width: 120px; height: 60px; margin-left: 5%; margin-top: 10px"
        />
        <ul>
          <li>Connexion</li>
        </ul>
      </nav>
    </header>
    <section class="inscrire">
      <div class="textinscrire" style="text-align: center">
        <h1>Exprimer-vous</h1>
        <h1>Avoir l'opportunité de commenter et noter</h1>
      </div>
      <style>
        input[type="text"],
        input[type="password"],
        select {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }

        input[type="submit"] {
          width: 100%;
          background-color: #5f90ba;
          color: white;
          padding: 14px 20px;
          margin: 8px 0;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        input[type="submit"]:hover {
          background-color: white;
          color: #5f90ba;
        }
      </style>
      <div class="forminscrire">
        <div
          style="
            background-color: #5f8fba75;
            border-radius: 4px;
            padding: 10px 20px;
          "
        >
          <form>
            <label for="fname">Nom :</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Votre nom..."
            />

            <label for="lname">Prenom :</label>
            <input
              type="text"
              id="lname"
              name="lastname"
              placeholder="Votre prénom..."
            />
            <label for="fname">Numero d'inscription :</label>
            <input
              type="text"
              id="fname"
              name="firstname"
              placeholder="Votre numéro d'inscription..."
            />

            <label for="filiere">Filiére</label>
            <select id="filiere" name="filiere">
              <option value="licence">Licence</option>
              <option value="cycle preparatoire">Cycle préparatoire</option>
              <option value="cycle ingénieur">Cycle ingénieur</option>
              <option value="master">Master</option>
            </select>
            <label for="specialite">Spécialité</label>
            <select id="specialite" name="specialite">
              <option value="LA.II">LA.II</option>
              <option value="LA.EEA">LA.EEA</option>
              <option value="LA.EM">LA.EM</option>
              <option value="LA.ENG">LA.ENG</option>
              <option value="LA.GC">LA.GC</option>
              <option value="LA.GM">LA.GM</option>
              <option value="LF.EEA">LF.EEA</option>
              <option value="LF.GM">LF.GM</option>
              <option value="LF.SI">LF.SI</option>
              <option value="MR-MSEE">MR-MSEE</option>
              <option value="MR-SPI">MR-SPI</option>
              <option value="MP-ENG">MP-ENG</option>
              <option value="MP-GM">MP-GM</option>
              <option value="Cycle Préparatoire Intégré Scientifique">
                Cycle Préparatoire Intégré Scientifique
              </option>
              <option value="Diplôme National d’Ingénieur">
                Diplôme National d’Ingénieur
              </option>
            </select>
            <label for="niveau">Niveau:</label>
            <input type="text" id="niveau" name=niveau" placeholder="Votre
            niveau">
            <label for="adress">Adress:</label>
            <input
              type="text"
              id="adress"
              name="adress"
              placeholder="Votre adress.."
            />
            <label for="fname">Mot de passe:</label>
            <input
              type="password"
              id="fname"
              name="firstname"
              placeholder="Your name.."
            />
            <label for="fname">confirmer mot de passe:</label>
            <input
              type="password"
              id="fname"
              name="firstname"
              placeholder="Your name.."
            />
            <input type="submit" value="S'inscrire" />
          </form>
        </div>
      </div>
    </section>
    <section style="background-color: #5f90ba">
      <ul class="footer" style="display: flex">
        <li>CONTACTEZ-NOUS</li>
        <li>PAGE FACEBOOK</li>
        <li>NOTRE TELEPHONE</li>
        <li>OU-EST-NOUS</li>
      </ul>
    </section>
  </body>
</html>
